<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid header">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Mahquet</a>
    </div>
  </div>
</nav>