/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';

.header{
        background: black;
}

p {
  font-family: raleway, verdana, arial, helvetica, sans-serif;
  font-size: 18px;
  line-height: 30px;
}

body{
        font-family: 'Raleway',Helvetica,Arial,sans-serif;
        margin: 0;
        padding-top: 50px;
}

h1{
    line-height: 1;
}

#banner{
    background: #212121;
    padding-bottom: 10px;
    font: small-caps 40px/40px;
    color: white;
    text-align: center;
    height: 40px;
}

#logo{
    float: left;
    color: white;
    font-size: 28px;
    letter-spacing: 3px;
    padding:20px 15px;
    float: left;
    font-weight: 400;
    }
    
    .alert{
        margin: 0;
    }
    
#footer{
        height: 70px;
        width: 100%;
        background: #8D89A5;
}