// Place all the styles related to the offers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.offer_image{
    padding-top: 50px;
}

.ratio{
    color: #F4776B;
    text-shadow: 1px 1px #545453;
}

.ratio-1{
    color: #007DBA;
    text-shadow: 1px 1px #545453;
}